@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400&display=swap");

:root {
  --clr-secondary: #0d1117;
  --clr-secondary-light: #25292e;
  --clr-primary: #dd5353;
  --clr-primary-light: #e06464;

  --ff-primary: "Source Code Pro", monospace;
  --ff-secondary: "Montserrat", serif;
  --transition: all 0.2s linear;
  --spacing: 0.25rem;
  --radius: 0.25rem;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  background: var(--clr-secondary);
  color: white;
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.nav-logo) {
  width: 100%;
  display: block;
}
nav {
  position: fixed;
  z-index: 100;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  font-size: 0.9rem;
  margin-bottom: 1.25rem;
  color: var(--clr-font-200);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.section {
  padding: 5rem 0;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  min-height: 60vh;
}
.section-title {
  margin-bottom: 2rem;
  text-align: center;
}
.section-text {
  font-size: 1.1rem;
  width: 85vw;
  max-width: 45rem;
  margin: 0 auto;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

.full-page {
  min-height: 100vh;
}
.underline {
  width: 5rem;
  height: 3px;
  margin-top: 0.5rem;
  margin-bottom: 1.25rem;
  background: var(--clr-grey-3);
  margin-left: auto;
  margin-right: auto;
  transition: var(--transition);
}
.icon {
  margin-bottom: -0.5rem;
}
.upload-icon {
  display: block;
  text-align: center;
  font-size: 12rem;
  margin: auto;
}
.grid-container {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.input-container {
  border-radius: var(--radius);
}
.result-container {
  border-radius: var(--radius);
  padding: 1rem;
  background: var(--clr-secondary-light);
  cursor: pointer;
  .icon {
    display: block;
    margin-left: auto;
  }
}
.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5rem;
  text-align: left;
  input {
    display: none;
  }
  label,
  button {
    cursor: pointer;
    background-color: var(--clr-primary);
    padding: 0.45rem 0.75rem;
    border-radius: var(--radius);
    color: white;
    transition: var(--transition);
    font-size: 0.575rem;
    &:hover {
      background-color: var(--clr-primary-light);
    }
  }
  button {
    font-family: var(--ff-primary);
    text-transform: capitalize;
    border: none;
    margin-left: 0.5rem;
  }
}
@media (min-width: 552px) {
  .btn-container {
    justify-content: space-between;
    label,
    button {
      font-size: 0.875rem;
    }
  }
}
@media (min-width: 992px) {
  .grid-container {
    margin-top: 5rem;
    grid-template-columns: 1fr 1fr;
  }
}
.loading-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #505050;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
